/* Set up initial styles for full page to include: color theme as variables for page,
   initial font sytles/colors, remove margins, set background. */
:root {
  --minht: 80px;
  }

* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(spacetile.png);
    margin: 0;
    height: 100%;
 }

h1 {
  font-family: 'Squada One', cursive;
  color: white;
  font-size: 56px;
  margin: 10px 0;
}

 h2 {
  font-family: 'Squada One', cursive;
  color: white;
   font-size: 36px;
   margin: 5px;
 }

header {
  display: flex;
  justify-content: center;
  min-height: var(--minht);
  font-size: 42px;
  background-color: darkslateblue;
 }

 /* two rows - score/button and timer; then trivia questions  */
.row {
  display: flex;
  justify-content: space-around;
  /* background-color: silver; */
  background-image: url(spacetile.png);
  padding: 10px;
}

 .box {
  display: flex;
  flex-direction: column;
  background-color: darkslateblue;
  margin: 3px 20px;
  padding: 15px;
  border: 5px solid white;
  border-radius: 10px;
  width: 25%;
}

/* button before game is active */
.gobutton {
  align-self: center;
  font-size: 30px;
  /* visibility: visible; */
  background-color: darkslateblue;
  padding: 10px;
}


/* box for timer countdown display is smaller, text larger  */
.timerbox {
  display: flex;
  flex-direction: column;
  background-color: darkslateblue;
  margin: 3px 20px;
  padding: 15px;
  border: 5px solid white;
  border-radius: 10px;
  width: 150px;
  min-height: 150px;
}

.timerOutput {
  font-size: 48px;
  align-self: center;
  color: white;
}

/* display container for trivia questions */
.questbox {
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  background-color: darkslateblue;
  margin: 15px 20px;
  padding: 15px 15px 60px;
  min-width: 80%;
  font-size: 30px;
  border: solid 3px white;
  border-radius: 10px;
}

.questbox h2 {
  font-size: 36px;
  margin-bottom: 10px; 
}

#triviaQuestionID {
  font-size: 42px;
  margin-bottom: 15px;
}

.questbox ul, p {
  font-size: 30px;
}

.questbox li {
  margin: 10px;
  padding: 5px;
  background-color: silver;
  border: solid 3px white;
  width: 50%;
}

.questbox li:hover {
  background-color: lightskyblue;
  font-weight: bolder;
}

#feedback {
  margin-left: 20%;
  margin-bottom: 0px;
}

.highScoresID {
  color: white;
  font-family: monospace;
  font-size: 48px;
  margin: 15px;
}

#clearScores button {
  font-size: 24px;
  color: white;
  background-color: darkslateblue;
}

footer {
  display: flex;
  justify-content: center;
  min-height: var(--minht);
  font-size: 42px;
  background-color: darkslateblue;
}

footer a {
  text-decoration: none;
  color: white;
}

/* END OF STYLESHEET  */