/* Set up initial styles for full page to include: color theme as variables for page,
   initial font sytles/colors, remove margins, set background. */
:root {
  --darkblue: #092578;
  --backgroundblue: #c9d1f0;
  --minht: 80px;
  }

* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(spacetile.png);
    margin: 0;
    height: 100%;
 }

h1 {
  margin: 10px 0;
}

 h2 {
   font-size: 36px;
   margin: 5px;
 }

header {
  display: flex;
  justify-content: center;
  min-height: var(--minht);
  font-size: 42px;
  background-color: purple;
 }

 /* two rows - score/button and timer; then trivia questions  */
.row {
  display: flex;
  justify-content: space-around;
  background-color: silver;
  padding: 10px;
}

 .box {
  display: flex;
  flex-direction: column;
  background-color: tomato;
  margin: 3px 20px;
  padding: 15px;
  border: 5px solid black;
  border-radius: 10px;
  width: 25%;
}

/* button before game is active */
.gobutton {
  align-self: center;
  font-size: 30px;
  /* visibility: visible; */
  background-color: tomato;
}


/* box for timer countdown display is smaller, text larger  */
.timerbox {
  display: flex;
  flex-direction: column;
  background-color: tomato;
  margin: 3px 20px;
  padding: 15px;
  border: 5px solid black;
  border-radius: 10px;
  width: 150px;
}

.timerOutput {
  font-size: 48px;
  align-self: center;
}

/* display container for trivia questions */
.questbox {
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  background-color: purple;
  margin: 15px 20px;
  padding: 15px;
  min-width: 75%;
  font-size: 30px;
}

.questbox h2 {
  font-size: 48px;
}

.questbox ul, p {
  font-size: 30px;
}

.questbox li {
  margin: 10px;
  padding: 5px;
  background-color: green;
  border: solid 3px black;
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
  min-height: var(--minht);
  font-size: 42px;
  background-color: purple;
}

/* END OF STYLESHEET  */